<launch>
    <arg name="quad_name" default="kingfisher"/>
    <!-- <arg name="quad_name" default="iris"/> -->


    <!-- Start Octomap Server -->
    

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.5"/>
        <param name="frame_id" value="world"/>     
        <param name="base_frame_id" value="/$(arg quad_name)/base_link"/> 
        <!-- BELOW TRUE< CHECK FALSE (SUPPOSEDLY BETTTER FORLARGE MAPS -->
        <param name="latch" value="false"/>  
        <param name="track_changes" value="true"/> 
        <param name="compress_map" value="false"/>
        <param name="incremental_2D_projection" value="true"/>
        <param name="publish_free_space" value="true"/>
        <!-- <param name="publish_frequency" value="1.0"/>  -->
        <param name="sensor_model/max_range" value="5.0"/>
        <remap from="/cloud_in" to="/$(arg quad_name)/camera_depth/depth/points"/>
    </node>



    <!-- <node pkg="autonomous_exploration" type="custom_octomap_server" name="custom_octomap_server">
        <param name="frame_id" value="world"/>
        <param name="base_frame_id" value="/kingfisher/base_link"/>
        <param name="sensor_model/max_range" value="5.0"/>
    </node> -->

    <!-- <arg name="rate" default="1"/>
    <arg name="namespace" default="kingfisher"/>
    <arg name="odometry" default="/my_odom_topic"/>
    <arg name="cloud_in" default="/kingfisher/camera_depth/depth/points"/>
    <arg name="config_filename" default="$(find autonomous_exploration)/config/custom_octomap_config.yaml"/>


    <group ns="$(arg namespace)">
        <node name="custom_octomap_server" pkg="autonomous_exploration" type="custom_octomap_server" output="screen">
        <param name="rate" value="$(arg rate)"/>
        <param name="exploration_config_filename" value="$(arg config_filename)"/>
        <remap from="cloud_in" to="$(arg cloud_in)"/>
        <remap from="odometry" to="$(arg odometry)"/>
        </node>
    </group> -->











    <!-- Start Frontier Detector -->
    <node pkg="autonomous_exploration" type="frontier_detector" name="frontier_detector" output="screen"/>

`
    <node pkg="autonomous_exploration" type="waypoint_publisher" name="waypoint_publisher" output="screen"/>

    <!-- Start trajectory publishing from ego to agilicious -->
    <node pkg="autonomous_exploration" type="trajectory_publisher" name="trajectory_publisher" output="screen"/>


    <!-- Track performance -->
    <node pkg="autonomous_exploration" type="performance_tracker" name="performance_tracker" output="screen"/>


 



</launch>





