<?xml version="1.0"?>
<launch>
    <arg name="quad_name" default="kingfisher"/>
    <arg name="use_joystick" default="False"/>
    <param name="/use_sim_time" value="True"/>
    <arg name="real_time_factor" value="1.0"/>
    
    
    
    
    
    
    
    <!-- Start Gazebo as in simulation.launch -->
    <!-- <arg name="world_name" default="$(find agiros)/resources/gazebo_files/basic.world"/>  -->
    <!-- <arg name="world_name" default="$(find agiros)/resources/gazebo_files/basic_adjusted.world"/> -->
    <!-- <arg name="world_name" default="$(find agiros)/resources/gazebo_files/basic_enclosed.world"/> -->
    <arg name="world_name" default="$(find agiros)/resources/gazebo_files/basic_enclosed_small.world"/>


    <include file="$(find agiros)/launch/simulation/base_quad_simulation.launch">
        <arg name="quad_name" value="$(arg quad_name)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="gui" value="false"/>
        <arg name="use_ground_truth" value="false"/>
        <arg name="mav_name" value="$(arg quad_name)"/>
        <arg name="model" value="$(find agiros)/resources/gazebo_files/kingfisher_model.gazebo"/>
        <arg name="enable_logging" value="false"/>
        <arg name="enable_ground_truth" value="false"/> <!-- ?? -->
        <arg name="log_file" value="$(arg quad_name)"/>
        <arg name="verbose" default="false"/>
        <arg name="debug" default="false"/>
        <arg name="x_init" value="0"/>
        <arg name="y_init" value="0"/>
    </include>



    <!-- Publish static transforms   -->
    <!-- uav tf broad publishises DOUBLE ?????? todo: check -->
    <node pkg="agiros" type="uav_tf_broadcast" name="base_link_to_world" output="screen">
        <param name="odom_topic" value="/kingfisher/agiros_pilot/state"/>
    </node>
    <!-- WRONG PREV -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_world"
          args="0 0 0 0 0 0 world $(arg quad_name)/base_link" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_base"
          args="0 0 0 0 0 0 $(arg quad_name)/base_link $(arg quad_name)/camera_depth_link" />     
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_optical_center_tf"
          args="0 0 0 -1.5708 0 -1.5708 $(arg quad_name)/camera_depth_link camera_depth_optical_center_link" />
    

    

    <group ns="$(arg quad_name)">
        <node name="agiros_pilot" pkg="agiros" type="agisim_node" output="screen">
            <param name="agi_param_dir" value="$(find agilib)/params"/>
            <param name="ros_param_dir" value="$(find agiros)/parameters"/>
            <param name="simulator_config" value="simulation.yaml"/>
            <param name="pilot_config" value="simple_sim_pilot.yaml"/>
            <param name="real_time_factor" value="$(arg real_time_factor)"/>
        </node>
    </group>



    <!-- Node for odom publishing used in ego-planner -->
    <node pkg="agiros" type="odom_publisher_for_ego" name="odom_publisher" output="screen"/>

    <!-- Node for pre-running trajectories and corresponding energy calucation -->
    <node pkg="agiros" type="energy_estimator_node" name="energy_estimator" output="screen">
        <param name="agi_param_dir" value="$(find agilib)/params"/>
        <param name="simulator_config" value="simulation.yaml"/>
        <param name="ros_param_dir" value="$(find agiros)/parameters"/>
        <param name="controller_config" value="geo_guard.yaml"/>
    </node>



    <!-- Visualization -->
    <node pkg="rviz" type="rviz" name="viz_face" args="-d $(find agiros)/resources/rviz/simulation.rviz"
          ns="$(arg quad_name)"/>

    <!-- GUI -->
    <node name="agiros_gui" pkg="rqt_gui" type="rqt_gui"
          args="-s agiros_gui.basic_flight.BasicFlight --args --quad_name $(arg quad_name)" output="screen"/>

    <!-- Gamepad and RC Utility -->
    <group if="$(arg use_joystick)">
        <include file="$(find manual_flight_interface)/launch/manual_flight_interface.launch">
            <arg name="quad_name" value="$(arg quad_name)"/>
        </include>
    </group>


    <node name="pose_publisher" pkg="agiros" type="publish_gt_pos.py" output="screen"/>

    <!-- ADD FOR LOCAL_PLANNER MOJI TODO: check 1) cam parameters. 2) check depth cam topic -->

    <!-- Start Frontier Detector-->
    <param name="/sdf_map/resolution"      value="0.1" /> 
    <param name="/sdf_map/map_size_x"   value="30" /> 
    <param name="/sdf_map/map_size_y"   value="30" /> 
    <param name="/sdf_map/map_size_z"   value="5" /> 
    <param name="/sdf_map/obstacles_inflation"     value="0.199" /> 
    <param name="/sdf_map/local_bound_inflate"    value="0.5"/>
    <param name="/sdf_map/local_map_margin" value="50"/>
    <param name="/sdf_map/ground_height"        value="-1.0"/>
    <param name="/sdf_map/default_dist"        value="0.0"/>
    <param name="/sdf_map/p_hit"  value="0.65"/>
    <param name="/sdf_map/p_miss" value="0.35"/>
    <param name="/sdf_map/p_min"  value="0.12"/>
    <param name="/sdf_map/p_max"  value="0.90"/>
    <param name="/sdf_map/p_occ"  value="0.80"/>
    <param name="/sdf_map/min_ray_length" value="0.5"/>
    <param name="/sdf_map/max_ray_length" value="4.5"/>
    <param name="/sdf_map/virtual_ceil_height"   value="-10"/>
    <param name="/sdf_map/optimistic" value="false" type="bool"/>
    <param name="/sdf_map/signed_dist" value="false" type="bool"/>
    <param name="/sdf_map/box_min_x" value="-10.0" type="double"/>
    <param name="/sdf_map/box_min_y" value="-15.0" type="double"/>
    <param name="/sdf_map/box_min_z" value="0.0" type="double"/>
    <param name="/sdf_map/box_max_x" value="10.0" type="double"/>
    <param name="/sdf_map/box_max_y" value="15.0" type="double"/>
    <param name="/sdf_map/box_max_z" value="2.0" type="double"/>

    <!-- Camera Info -->
    <!-- <param name="/map_ros/cx" value="640"/>
    <param name="/map_ros/cy" value="360"/>
    <param name="/map_ros/fx" value="695.99511719"/>
    <param name="/map_ros/fy" value="695.99511719"/> -->
    <param name="/map_ros/cx" value="320.5"/>
    <param name="/map_ros/cy" value="240.5"/>
    <param name="/map_ros/fx" value="585.7560709479847"/>
    <param name="/map_ros/fy" value="585.7560709479847"/>

    <!-- Depth Filter -->
    <param name="/map_ros/depth_filter_maxdist"   value="5.0"/>
    <param name="/map_ros/depth_filter_mindist"   value="0.2"/>
    <param name="/map_ros/depth_filter_margin"    value="2"/>
    <param name="/map_ros/k_depth_scaling_factor" value="1000.0"/>
    <param name="/map_ros/skip_pixel" value="2"/>
    <param name="/map_ros/esdf_slice_height" value="0.3"/>
    <param name="/map_ros/visualization_truncate_height"   value="10.09"/>
    <param name="/map_ros/visualization_truncate_low"   value="-2.0"/>
    <param name="/map_ros/show_occ_time"  value="false"/>
    <param name="/map_ros/show_esdf_time" value="false"/>
    <param name="/map_ros/show_all_map" value="true"/>
    <param name="/map_ros/frame_id"      value="world"/>
    <param name="/map_ros/inflate_x" value="0.4"/>
    <param name="/map_ros/inflate_y" value="0.4"/>
    <param name="/map_ros/inflate_z" value="0.4"/>
    <param name="frontier/cluster_min" value="100" type="int"/>
    <param name="frontier/cluster_size_xy" value="2.0" type="double"/>
    <param name="frontier/cluster_size_z" value="10.0" type="double"/>
    <param name="frontier/min_candidate_dist" value="0.75" type="double"/>
    <param name="frontier/min_candidate_clearance" value="0.21" type="double"/>
    <param name="frontier/candidate_dphi" value="$(eval 15 * 3.1415926 / 180.0)" type="double"/>
    <param name="frontier/candidate_rnum" value="3" type="int"/>
    <param name="frontier/candidate_rmin" value="1.5" type="double"/>
    <param name="frontier/candidate_rmax" value="2.5" type="double"/>
    <param name="frontier/down_sample" value="3" type="int"/>;
    <param name="frontier/min_visib_num" value="15" type="int"/>;
    <param name="frontier/min_view_finish_fraction" value="0.2" type="double"/>;

    <node pkg="active_perception" type="frontier_finder_node" name="frontier_test" output="screen">
        <!-- <remap from="/map_ros/depth" to="/D435i_camera/depth/image_rect_raw"/> -->
        <remap from="/map_ros/depth" to="/kingfisher/camera_depth/depth/disparity"/>
        <!-- <remap from="/map_ros/depth" to="/kingfisher/camera_depth/camera/image_raw"/> -->
        <!-- <remap from="/map_ros/cloud" to="/D435i_camera/depth/color/points"/> -->
        <remap from="/map_ros/pose" to="/drone/gt_pose"/>
    </node>

    <include file="$(find local_planner)/launch/local_planner.launch"/>
    
</launch>
