<?xml version="1.0"?>
<launch>
    <arg name="quad_name" default="kingfisher"/>

    <arg name="mav_name" default="$(arg quad_name)"/>
    <arg name="model" value="$(find agiros)/resources/gazebo_files/$(arg quad_name)_model.gazebo"/>

    <arg name="world_name" default="$(find agiros)/resources/gazebo_files/basic.world"/> 

    <arg name="x_init" default="0"/>
    <arg name="y_init" default="0"/>

    <arg name="enable_logging" default="false"/>
    <arg name="enable_ground_truth" default="true"/>
    <arg name="log_file" default="$(arg mav_name)"/>
    <arg name="paused" value="false"/>
    <arg name="gui" default="false"/>
    <arg name="use_ground_truth" value="true"/>
    <arg name="verbose" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="pilot_config" default="rotors_sim_pilot.yaml"/>
    
    <arg name="real_time_factor" value="0.05"/>

    <!-- Basic simulation environment !-->
    <include file="$(find agiros)/launch/simulation/base_quad_simulation.launch">
        <arg name="quad_name" value="$(arg quad_name)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="use_ground_truth" value="$(arg use_ground_truth)"/>

        <arg name="mav_name" value="$(arg mav_name)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="enable_logging" value="$(arg enable_logging)"/>
        <arg name="enable_ground_truth" value="$(arg enable_ground_truth)"/>
        <arg name="log_file" value="$(arg log_file)"/>
        <arg name="verbose" default="$(arg verbose)"/>
        <arg name="debug" default="$(arg debug)"/>

        <arg name="x_init" value="$(arg x_init)"/>
        <arg name="y_init" value="$(arg y_init)"/>
    </include>

    <group ns="$(arg quad_name)">
        <node name="agiros_pilot" pkg="agiros" type="agiros" output="screen">
            <param name="agi_param_dir" value="$(find agilib)/params"/>
            <param name="ros_param_dir" value="$(find agiros)/parameters"/>
            <param name="pilot_config" value="$(arg pilot_config)"/>
            <param name="real_time_factor" value="$(arg real_time_factor)"/>
            <remap from="agiros_pilot/odometry_estimate" to="ground_truth/odometry"/>
            <remap from="agiros_pilot/imu_in" to="ground_truth/imu"/>
            <remap from="agiros_pilot/motor_speed" to="/$(arg quad_name)/motor_speed"/>
            <remap from="agiros_pilot/guard_odometry_estimate" to="ground_truth/odometry"/>
        </node>
    </group>
    
    
    
    <!-- Publish static transform from base_link to world/map > wrong TF , not dynamic, see agisim.launch  -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_world"
          args="0 0 0 0 0 0 world $(arg quad_name)/base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_base"
          args="0 0 0 0 0 0 $(arg quad_name)/base_link $(arg quad_name)/camera_depth_link" />     
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_optical_center_tf"
          args="0 0 0 -1.5708 0 -1.5708 $(arg quad_name)/camera_depth_link camera_depth_optical_center_link" />
          
    
    
    
    

    <!-- Visualization -->
    <node pkg="rviz" type="rviz" name="viz_face" args="-d $(find agiros)/resources/rviz/simulation.rviz"
          ns="$(arg quad_name)"/>

    <!-- GUI -->
    <node name="agiros_gui" pkg="rqt_gui" type="rqt_gui"
          args="-s agiros_gui.basic_flight.BasicFlight --args --quad_name $(arg quad_name)" output="screen"/>
</launch>
