<launch>

     <node pkg="vrpn_client_ros" type="vrpn_client_node" name="mocap" output="screen">
       <param name="server" value="192.168.200.119"/>
       <param name="update_frequency" value="400"/>
       <param name="use_server_time" value="false"/>
       <param name="broadcast_tf" value="true"/>
       <param name="frame_id" value="world"/>
       <param name="refresh_tracker_frequency" value="1"/>
     </node>

 </launch>
